<!DOCTYPE html>



<html>
<head>
<link rel="icon" href="/img/weather.png">   
<title>{{title}}</title>
<link rel='stylesheet' href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This website was created by Charlie Meaden and it gets data mapbox and darksky API's</p>
            <img class="funny-image" src="/img/jits.jpg">
    </div>
  
    {{>footer}}
    </body>

</html>